@charset "UTF-8";
/* CSS Document */
body {
    color: #28464b;
	font-size: 16px;
	font-family: cambria;
	background-image: url(../images/background.jpg);
	background-size: cover;
	-webkit-background-size: cover;	
}

h1 {
    margin: 40px auto 30px 180px;
}

.error {
	font-size: 14px;
	font-family: Times New Roman;
	color: #BA324F;
}

table {
	max-width: 700px;
	margin: auto auto auto 180px;
}

tr {
    height: 30px;
}

input {
    width: 200px;
}

input, select {
	height: 20px;
	border: solid 1px #28464b;
	background-color: transparent;
}

#submit {
	height: 40px;
	width:  100px;
    margin: auto auto auto 180px;
    font-size: 24px;
	color: #2e2b3e;
	border: dotted 2px #2e2b3e;
	background-color: transparent;
}

@media only screen and (max-width: 1242px){
	body{
		font-size: 36px;
	}
	.error {
		font-size: 36px;
	}
	table {
		max-width: 100%;
		margin: auto auto auto 100px;
	}
	
	form {
		max-width: 100%;
	}
	
	input{
		height: 36px;
	}
	
	#submit {
		width: 160px;
		height: 60px;
		font-size: 28px;
	}
}